body {
	font-family: 'PT Sans', sans-serif;
	line-height: 150%;
	font-size: 1.65rem;
}

.main-content {
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
}

.col-center {
	margin: 0 auto;
	float: none;
}

/*Regular typography*/

a {
	text-decoration: none;
	transition: linear 0.2s;
}

h1 {
	font-weight: 700;
	font-size: 4em;
}

p, ul {
	margin-bottom: 1.3em;
}

/*Buttons*/

/*.btn.outline {
    background: none;
}
.btn-primary.outline {
    border: 2px solid white;
    color: white;
		text-transform: uppercase;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: white;
    color: white;
    box-shadow: none;
}*/

/*Regular text content*/

.main-header p {
	/*color: rgba(255, 255, 255, 0.73);*/
}

.main-header strong {
	color: white;
}

.main-header a {
	color: rgba(255, 255, 255, 0.71);
}

	.main-header a:hover {
		color: rgba(255, 255, 255, 1);
	}

	.main-header hr {
		border-top: 1px solid rgba(238, 238, 238, 0.45);
	}

/*Header*/

.main-header {
	padding: 80px 5%;
  background: #F78C74; /*keycolour*/
	/*background-size: cover;*/
  color: white;
	text-align: center;
}
	.main-header p {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

/*Footer styling only*/

.main-footer {
	padding: 30px 5%
}

.profilepic {
	max-width: 100%;
	border-radius: 100%;
	width: 90px;
	margin: 0 auto;
	border: 3px solid rgb(255, 91, 91); /*keycolour*/
}
.main-footer a {
	color: rgb(255, 91, 91); /*keycolour*/
}


/*@media screen and (min-width: 700px) {

	body {
		font-size: 2rem;
	}

	.profilepic {
		width: 200px;
	}
}*/

/*Little global things*/

.fa-heart {
	color:red;
}

.socialicons {
	margin-bottom: 0;
}


/*ANIMATIONS*/

.wow {
  visibility: hidden;
}
