body {
	font-family: 'PT Sans', sans-serif;
	line-height: 150%;
	font-size: 1.65rem;
}

.main-content {
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
}

.col-center {
	margin: 0 auto;
	float: none;
}

/*Regular typography*/

a {
	transition: linear 0.2s;
}

h1 {
	font-weight: 700;
	font-size: 4em;
}

p, ul {
	margin-bottom: 1.3em;
}

/*Regular text content*/

.main-content p {
	/*color: rgba(255, 255, 255, 0.73);*/
}

.main-content strong {
	color: white;
}

.main-content a {
	color: rgba(255, 255, 255, 0.71);
	text-decoration: none;
}

	.main-content a:hover {
		color: rgba(255, 255, 255, 1);
	}

	.main-content hr {
		border-top: 1px solid rgba(238, 238, 238, 0.45);
	}

/*Header*/

.main-header {
	padding: 80px 5%;
  background: rgb(255, 91, 91);
	/*background-size: cover;*/
  color: white;
	text-align: center;
}

	.main-header p {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

/*Footer styling only*/

.main-footer {
	padding: 5%;
  background:
	    linear-gradient(
	      rgba(3, 81, 99, 0.96),
	      rgba(52, 3, 99, 0.65)

	    ),
	    url(/assets/img/col-left-background.jpg);
	background-size: cover;
  color: white;
}

.profilepic {
	max-width: 100%;
	border-radius: 100%;
	width: 90px;
	margin: 0 auto;
	border: 3px solid white;
}


/*@media screen and (min-width: 700px) {

	body {
		font-size: 2rem;
	}

	.profilepic {
		width: 200px;
	}
}*/

/*Little global things*/

.fa-heart {
	color:red;
}

.socialicons {
	margin-bottom: 0;
}


/*ANIMATIONS*/

.wow {
  visibility: hidden;
}
