body {
	font-family: 'PT Sans', sans-serif;
	line-height: 150%;
	font-size: 1.65rem;
}

.main-content {
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
}

.col-center {
	margin: 0 auto;
	float: none;
}

/*Regular typography*/

a {
	text-decoration: none;
	transition: linear 0.2s;
}

h1 {
	font-weight: 700;
	font-size: 4em;
}

p, ul {
	margin-bottom: 1.3em;
}

/*Buttons*/

/*.btn.outline {
    background: none;
}
.btn-primary.outline {
    border: 2px solid white;
    color: white;
		text-transform: uppercase;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: white;
    color: white;
    box-shadow: none;
}*/

/*Regular text content*/

.main-header h1 {
	/*color: rgba(255, 255, 255, 0.73);*/
	text-shadow: 1px 2px 3px rgba(84, 45, 5, 0.53);
}
.main-header p {
	text-shadow: 1px 1px 3px rgba(84, 45, 5, 0.33);
}

.main-header strong {
	color: white;
}

.main-header a {
	color: rgba(255, 255, 255, 0.71);
}

	.main-header a:hover {
		color: rgba(255, 255, 255, 1);
	}

	.main-header hr {
		border-top: 1px solid rgba(238, 238, 238, 0.45);
	}

/*Header*/

.main-header {
	padding: 80px 5%;
  background: #FE715F; /*keycolour*/
	/*background-size: cover;*/
  color: white;
	text-align: center;
}
	.main-header p {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.2em;
		line-height: 140%;
	}

	/*.main-header__intro {
		margin-bottom: 1em;
	}*/

/*Footer styling only*/

.main-footer {
	padding: 30px 5%
}

.profilepic {
	max-width: 100%;
	border-radius: 100%;
	width: 80px;
	margin: 0 auto;
	/*border: 5px solid rgb(255, 91, 91); /*keycolour*/*/
}
.main-footer a {
	color: rgb(255, 91, 91); /*keycolour*/
}


/*@media screen and (min-width: 700px) {

	body {
		font-size: 2rem;
	}

	.profilepic {
		width: 200px;
	}
}*/

/*Little global things*/

.fa-heart {
	color:red;
}

.socialicons {
	margin-bottom: 0;
}


/*ANIMATIONS*/

/*.wow {
  visibility: hidden;
}*/

.nospam small {
	font-size: 0.8em;
}

/*Custom chunky button styles*/

.btn {
  position: relative;
  border: 0 !important;
  cursor: pointer;
  font-weight: bold !important;
  border-radius: 10px;
  background-clip: padding-box;
  transition: all 50ms ease;
  border: 0;
  text-shadow: 0px 1px 0px #999999;
  background-color: #cccccc;
  box-shadow: 0px 6px 0px #999999;
}
.btn:focus {
  outline: 0;
}
.btn:hover {
  top: 2px;
}
.btn:active {
  top: 6px;
}
.btn:hover {
  border: 0;
  background-color: #d9d9d9 !important;
  box-shadow: 0px 4px 0px #999999;
}
.btn:active {
  box-shadow: inset 0px 3px 0px #999999;
}
